* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body .container {
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    min-height: 99vh;
    width: auto;
    overflow: hidden;
    scrollbar-width: 0px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}


.quote {
    font-size: 2rem;
}

.author {
    font-size: 1rem;
    text-align: right;
    margin-right: 5rem;
}

.author::before {
    content: "By: ";
}

.button {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.next {
    min-width: 20vw;
    border-radius: 2rem;
    min-height: 2rem;
}


.next {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease;
}

.next::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 80%);
    transform: skewX(-25deg);
}

.next:hover::before {
    left: 125%;
    transition: left 0.6s ease;
}

.next:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {

    body .container {
        padding-right: 1rem;
        padding-right: 1rem;
        border: 1px solid whitesmoke;
    }

    .container {
        row-gap: 1rem;
    }


    .quote {
        font-size: 1.5rem;
    }

    .author {
        margin-right: 2rem;
    }

    .button {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }

    .next {
        min-width: 30vw;
        border-radius: 2rem;
    }

}
