<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>

  <body>
    <div class="container">
      <div class="quote">here goes the quote</div>
      <div class="author">here goes the writer name</div>
    </div>
    <button class="next">next</button>

    <script src="../static/js/home.js"></script>
  </body>
</html>
