<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="quote">here goes the quote</div>
      <div class="author">here goes the writer name</div>
    </div>
    <button
      class="next"
      hx-get="/quote/random"
      hx-target=".quote"
      hx-swap="innerHTML"
    >
      next
    </button>

    <script src="../static/js/home.js"></script>
  </body>
</html>
